
body{
  min-height: 100vh;
 

}



.App{
  background-color: rgb(98, 112, 80);
  width: 100vw;
 min-height: 100vh;
}

.container{
  width: 100%;
  display: grid;
grid-template-columns: 300px 700px;
column-gap: 900px;
min-height: 100vh;
 overflow: hidden;

}

.nav{
position: relative;
  transform: translateX(0);
  width: 300px;
min-height: 100vh;
  
  background-color: rgb(41, 43, 43);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
transition: transform 0.7s ease-out;

}

.hide{
  transform: translateX(-100%);
}

h1{
  position: absolute;
  left:30px;
  top: 0;
  font-family: cursive;
  font-size: 40px;
  color: white;
  z-index: 200;
}

.close{
  position: absolute;
  top: 10px;
  left: 250px;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background-color: rgb(94, 55, 133);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

.btn{
  border: none;
  width: max-content;
  padding: 12px;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;


}

.input{
  border: none;

  padding: 12px;
  width: fit-content;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.input:focus{
  outline: none;
}
.colorcon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 200px;
  background-color: rgb(199, 150, 150);
  padding: 20px;
  border-radius: 50%;
  gap: 22px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

.bgColor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 200px;
  background-color: rgb(95, 83, 83);
  padding: 20px;
  border-radius: 50%;
  gap: 22px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}